<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/template-admin}">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

</head>

<body id="page-top">

<section layout:fragment="custom-content">
  <!-- Page Wrapper -->
  <!--    <div id="wrapper">-->
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Participant</h1>
  <p class="mb-4 text-right">
    <a th:href="'/participant/add'" class="btn btn-primary btn-icon-split">
      <span class="icon text-white">
        <i class="fas fa-plus"></i>
      </span>
      <span class="text">Add Participant</span>
    </a>
  </p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Data Participant</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Agency</th>
            <th>Participant Number</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Agency</th>
            <th>Participant Number</th>
          </tr>
          </tfoot>
          <tbody>
          <div th:if="${participantList.size() > 0}">
            <tr th:each="participant, e : ${participantList}">
              <td th:text="${e.index+1}"></td>
              <td th:text="${participant.name}"></td>
              <td th:text="${participant.agency+1}"></td>
              <td th:text="${participant.number}"></td>
            </tr>
          </div>
          <div th:unless="${participantList.size() > 0}">
            <tr>
              <td colspan="4"><span>Data participant tidak ditemukan</span></td>
            </tr>
          </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>



  <!--    </div>-->
  <!-- End of Page Wrapper -->
</section>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Page level plugins -->
<!--    <script src="vendor/chart.js/Chart.min.js"></script>-->

<!-- Page level custom scripts -->
<!--    <script src="js/demo/chart-area-demo.js"></script>-->
<!--    <script src="js/demo/chart-pie-demo.js"></script>-->

</body>

</html>