<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/template-admin}">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

</head>

<body id="page-top">

<section layout:fragment="custom-content">
  <!-- Page Wrapper -->
  <!--    <div id="wrapper">-->
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Participant</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Add Participant</h6>
    </div>
    <div class="card-body">
      <div class="col-6">
        <form id="form" action="#" th:action="@{/home}" role="form"  th:object="${relawan}" method="post" enctype="multipart/form-data">
          <div class="form-group has-float-label mb-6 form-group">
            <div class="row">
              <div class="col-2"></div>
              <label class="col-3 align-content-center mb-0">Name</label>
              <input type="text" class="form-control col-7" placeholder="Input name">
            </div>
          </div>
          <div class="form-group has-float-label mb-6 form-group">
            <div class="row">
              <div class="col-2"></div>
              <label class="col-3 align-content-center mb-0">Age</label>
              <input type="number" class="form-control col-7" placeholder="Age">
            </div>
          </div>
          <div class="form-group has-float-label mb-6 form-group">
            <div class="row">
              <div class="col-2"></div>
              <label class="col-3 align-content-center mb-0">Agency</label>
              <input type="text" class="form-control col-7" placeholder="Agency">
            </div>
          </div>
<!--          <div class="form-group">-->
<!--            <div class="custom-control custom-checkbox small">-->
<!--              <input type="checkbox" class="custom-control-input" id="customCheck">-->
<!--              <label class="custom-control-label" for="customCheck">Remember-->
<!--                Me</label>-->
<!--            </div>-->
<!--          </div>-->
          <div class="row">
            <div class="col-5"></div>
            <button type="submit" class="col-3 btn btn-secondary btn-user mr-2 ml-3">
              Cancel
            </button>
            <button type="submit" class="col-3 btn btn-primary btn-user">
              Submit
            </button>
          </div>
          <hr>
        </form>
      </div>
    </div>
  </div>



  <!--    </div>-->
  <!-- End of Page Wrapper -->
</section>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

</body>

</html>