<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <div th:fragment="footer-signin">
<!--            <script th:src="@{/js/91.1f595ca9.chunk.js}"></script>-->
<!--            <script th:src="@{/js/main.767c24b0.chunk.js}"></script>-->
<!--            <script th:src="@{/js/116.dec29df9.chunk.js}"></script>-->
<!--            <script th:src="@{/js/92.9a63fd65.chunk.js}"></script>-->
<!--            <script th:src="@{/js/App.8818ea0a.chunk.js}"></script>-->
<!--            <script th:src="@{/js/react_devtools_backend.js}"></script>-->
<!--            <script th:src="@{/js/views-user.1448e656.chunk.js}"></script>-->
<!--            <script th:src="@{/js/2.3e38063e.chunk.js}"></script>-->
<!--            <script th:src="@{/js/5.7d39e609.chunk.js}"></script>-->
<!--            <script th:src="@{/js/user-login.010505a0.chunk.js}"></script>-->
        </div>
        <div th:fragment="footer-crm">
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

            <script th:src="@{/js/jquery.min.js}"></script>
            <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
            <!-- Core plugin JavaScript-->
            <script th:src="@{/js/jquery.easing.min.js}"></script>
            <!-- Custom scripts for all pages-->
            <script th:src="@{https://kit.fontawesome.com/8984ba880b.js}"></script>
<!--            crossorigin="anonymous"}"-->
            <script th:src="@{/js/sb-admin-2.min.js}"></script>

<!--            <script th:src="@{/js/jquery-3.6.1.js}"></script>-->
<!--            <script th:src="@{/js/91.1f595ca9.chunk.js}"></script>-->
<!--            <script th:src="@{/js/main.767c24b0.chunk.js}"></script>-->
<!--&lt;!&ndash;            <script th:src="@{/js/react_devtools_backend.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;            <script src="/js/116.dec29df9.chunk.js" th:src="@{/js/116.dec29df9.chunk.js}"></script>&ndash;&gt;-->
<!--            <script th:src="@{/js/92.9a63fd65.chunk.js}"></script>-->
<!--            <script th:src="@{/js/App.8818ea0a.chunk.js}"></script>-->
<!--&lt;!&ndash;            <script src="/js/90.ca2cbb69.chunk.js" th:src="@{/js/90.ca2cbb69.chunk.js}"></script>&ndash;&gt;-->
<!--            <script th:src="@{/js/views-app.b6bab6b7.chunk.js}"></script>-->
<!--            <script th:src="@{/js/dashboards.0ce2292c.chunk.js}"></script>-->
<!--            <script th:src="@{/js/0.d57f47b9.chunk.js}"></script>-->
<!--            <script th:src="@{/js/1.5ce37a88.chunk.js}"></script>-->
<!--            <script th:src="@{/js/3.13711da4.chunk.js}"></script>-->
<!--            <script th:src="@{/js/2.3e38063e.chunk.js}"></script>-->
<!--            <script th:src="@{/js/dashboard-default.074fa36d.chunk.js}"></script>-->
<!--            <script th:src="@{/js/main.js}"></script>-->
<!--            <script th:src="@{/js/api.js?onload=__iframefcb628646}"></script>-->
<!--            <script th:src="@{/js/jquery.mask.min.js}"></script>-->
<!--            <script th:src="@{/js/context-menu.js}"></script>-->
<!--            <script th:src="@{/js/dashboard-content.86e2d19d.chunk.js}"></script>-->
        </div>
    </body>
</html>