<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
      <title>Silat Tournament Scheme</title>
<!--    <link rel="icon" th:href="@{/favicon.ico}" />-->

    <div th:include="fragments/header :: header-crm"></div>

  </head>
  <body class="ltr rounded" id="page-top">
      <div id="wrapper">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          <div id="content">
            <div th:replace="fragments/header :: header">
              <p>GOOD</p>
            </div>
            <section layout:fragment="custom-header">
                <!--          <p>Your page content goes here</p>-->
            </section>
            <div class="container-fluid">
              <section layout:fragment="custom-content">
                  <!--            <p>Your page content goes here</p>-->
              </section>
            </div>
          </div>
          <div th:include="fragments/footer :: footer-crm"></div>
        </div>
      </div>
      <section layout:fragment="mobile-button-navbar">
          <!--      <p>Your page content goes here</p>-->
      </section>
      <!-- Scripts -->
      <section layout:fragment="footer-script"></section>
  </body>
</html>
